# {{title}}

{{effort_distribution_overview}}

## Focus Areas

{{#focus_areas}}
### {{title}} (`{{id}}`)

{{why_it_matters}}

**Recommended effort split**

- {{recommended_effort_split}}

**Principle relevance**

{{#principle_relevance}}
- {{.}}
{{/principle_relevance}}

**Role implications**

{{#role_implications}}
- {{.}}
{{/role_implications}}

**Recommended actions**

{{#recommended_actions}}
- {{.}}
{{/recommended_actions}}

{{/focus_areas}}
